.profile {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
  border: 1px #fff solid;
  border-radius: 50px;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  color: #546e7a;
}
.avatar {
  box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    inset -8px -8px 16px 0 rgba(255, 255, 255, 0.4);

  width: 100px;
  padding: 5px;
  border-radius: 50%;
  display: block;
}

.stats {
  padding: 0;
  margin-left: 10px;
  border-radius: 13px;
  box-shadow: 1px 1px 0px 0 rgba(0, 0, 0, 0.25),
    -1px -1px 1px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
}
.stats > li {
  padding: 7px;
  justify-content: space-between;
  list-style-type: none;
}
.quantity {
  display: block;
  text-align: right;
  color: #000000;
}

/* .label {
  text-transform: capitalize;
}
      .description {
      }

.name {
  text-transform: capitalize;
}

.tag {
  text-transform: capitalize;
}

.location {
  text-transform: capitalize;
} */
