.statistics {
  display: inline-block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: 7px;
  border: 1px solid var(--color-darken);
  box-shadow: var(--shadow-dark), var(--shadow-light), inset var(--shadow-dark),
    inset var(--shadow-light);
}
.title {
  margin: 0;
  padding: 20px;
  text-align: center;
}
.statList {
  display: flex;
  margin: 0;
  padding: 0;
}
.withTitle > .item:first-child {
  border-top-left-radius: 0;
}
.withTitle > .item:last-child {
  border-top-right-radius: 0;
}
.item {
  width: 60px;
  list-style-type: none;
  text-align: center;
  padding: 7px;
  border: 1px solid var(--color-darken);

  box-shadow: var(--shadow-dark), var(--shadow-light), inset var(--shadow-dark),
    inset var(--shadow-light);
  background-color: #8d230f60;
}
.item:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.item:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.item:nth-child(2n) {
  background-color: #1e434c60;
}
.item:nth-child(3n) {
  background-color: #9b4f0f50;
}
.item:nth-child(4n) {
  background-color: #c99e1050;
}

.percentage {
  font-weight: 600;
  display: block;
}

/* .label {
  text-transform: capitalize;
} */
