.item {
  /* display: flex;
  align-items: center;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 0.5rem; */
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 30px;
}
.status,
.avatar {
  border-radius: 50%;
}
.status {
  font-size: 0;
  box-shadow: var(--shadow-convex);
  position: absolute;
  z-index: 1;
  left: -5px;
  top: -5px;
  display: block;
  width: 100px;
  height: 100px;
}
.offline {
  background-color: var(--color-red-opacity);
}
.online {
  background-color: var(--color-green-opacity);
}

.avatar {
  position: relative;
  z-index: 2;
  width: 90px;
  background-color: var(--color-basic);
}
.avatar {
  /* box-shadow: inset 8px 8px 16px 0 rgba(0, 0, 0, 0.2),
    inset -20px -20px 12px 0 rgba(255, 255, 255, 0.4);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px; */
}
.name {
  box-shadow: var(--shadow-dark), var(--shadow-light), inset var(--shadow-dark),
    inset var(--shadow-light);
  margin: 0;
  padding: 0 20px 0 73px;
  margin-left: -60px;
  height: 90px;
  box-sizing: border-box;
  line-height: 90px;
  border-radius: 45px;
}
